.hide {
    display: none !important;
}

.active {
    background-color: $color-white;
}

.panel {
    transition: margin-top 0.2s ease-out;
    &--hide {
        margin-top: -7.7rem;
        @media (max-width: 850px) {
            margin-top: -16.7rem;
        }
        @media (max-width: 520px) {
            margin-top: -25.2rem;
        }
    }
}

.levels {
    transition: right 0.2s ease-out;

    &--hide {
        right: -2.7rem;
    }
}
