.main {
    background-color: $color-navy;
    box-shadow: 0 0 3rem rgba(3, 3, 3, 0.2);
    display: flex;
    min-height: calc(100vh - 232px);
    overflow: hidden;
    position: relative;
    width: 90%;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

.player {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: background-color 0.4s ease-out;
    width: 50%;

    @media (max-width: 1200px) {
        padding: 3rem;
    }

    @media (max-width: 1200px) {
        width: 100%;
    }

    &--active {
        transition: background-color 0.4s ease-out;
        color: $color-white;
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 5rem 0;
        text-transform: uppercase;

        @media (max-width: 660px) {
            padding: 2rem 0;
        }
    }

    &__login {
        font-size: 1.4rem;
        text-transform: capitalize;
        margin-left: -15rem;
    }

    &__mark {
        align-self: center;
        background-color: none;
        border-radius: 50%;
        display: inline-block;
        height: 1rem;
        margin-right: -20rem;
        width: 1rem;

        &--active {
            background-color: $color-magenta;
        }
    }
}

.game {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5rem 0;

    @media (max-width: 660px) {
        padding: 2rem 0;
    }

    &__score {
        &--one,
        &--two {
            font-size: 14rem;
            font-weight: 100;

            @media (max-width: 660px) {
                font-size: 10rem;
            }
        }
    }

    &--one {
        @media (max-width: 1784px) {
            margin-left: -23rem;
        }

        @media (max-width: 1280px) {
            margin-left: 0;
        }
    }

    &--two {
        @media (max-width: 1784px) {
            margin-right: -23rem;
        }

        @media (max-width: 1280px) {
            margin-right: 0;
        }
    }
}

.progress {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;

    @media (max-width: 660px) {
        padding: 2rem 0;
    }

    &__bar {
        background-color: $color-white;
        border: 1px solid $color-navy;
        height: 6px;
        margin: 0 1rem;
        position: relative;
        width: 22rem;

        &--active {
            border: 1px solid $color-white;
        }

        &--loader--one,
        &--loader--two {
            background-color: $color-magenta;
            height: 4px;
            width: 0;
        }
    }
}

.current {
    align-self: center;
    border: 1px solid $color-navy;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 2rem;
    justify-content: center;
    height: 15rem;
    margin: 3rem 0;
    width: 15rem;

    &__score {
        font-size: 6rem;
    }

    &--active {
        border: 1px solid $color-white;
    }

    @media (max-width: 660px) {
        height: 12rem;
        margin: 3rem 0;
        width: 12rem;
    }
}

.cubes {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1280px) {
        flex-direction: column;
        transform: translate(-50%, -70%);
    }

    @media (max-width: 1200px) {
        transform: none;
        right: -10rem;
        top: 0;
    }
}

.cube {
    align-self: center;
    background-color: $color-white;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);
    display: flex;
    height: 22rem;
    justify-content: center;
    margin: 2rem;
    width: 22rem;

    &--one,
    &--two {
        @media (max-width: 1000px) {
            height: 18rem;
            width: 18rem;
        }

        @media (max-width: 850px) {
            height: 12rem;
            width: 12rem;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 700px) {
        display: none;
    }
}

.win {
    color: $color-magenta;
    font-size: 8rem;
    position: absolute;
    left: 50%;
    letter-spacing: 2px;
    top: 27%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.35);
    text-align: center;
    width: 100%;
}

.new-game {
    align-items: center;
    border: none;
    background: none;
    color: $color-magenta;
    cursor: pointer;
    display: flex;
    font-size: 2.4rem;
    font-weight: 300;
    left: 50%;
    position: absolute;
    top: 17%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

    &__icon {
        border-radius: 50%;
        background-color: $color-magenta;
        color: $color-white;
        font-size: 4rem;
        height: 4rem;
        line-height: 4rem;
        margin-right: 1rem;
        position: absolute;
        top: -5rem;
        left: 4.5rem;
        text-align: center;
        width: 4rem;
    }
}

canvas {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}
